* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

body, html {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #303030;
    min-width: 375px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    gap: 1rem;
}

a {
    text-decoration: none;
}

/*_________________________________NAVBAR_________________________________*/
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: hsl(0, 0%, 10%);
}

#active {
    color: #d64f4f;
}

.fa {
    margin-top: .5rem;
}

/*_________________________________MAIN__________________________________*/
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 1rem;
    padding: 1rem 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    gap: 1rem;
    border-radius: .5rem;
    background-color: gray;
    width: 100%;
}

.email-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#email, #textarea {
    border-radius: .5rem;
    width: 100%;
    color: #000;
    padding-left: .5rem;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.submit-btn {
    padding: .2em 1.2em;
    border-radius: 1rem;
    border: 0;
    background-color: #1279be;
}

/*_________________________________FOOTER________________________________*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    background-color: hsl(0, 0%, 9%);
}