* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

body, html {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #303030;
    min-width: 375px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    gap: 1rem;
}

a {
    text-decoration: none;
}

/*_________________________________NAVBAR_________________________________*/
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: hsl(0, 0%, 10%);
}

#active {
    color: #d64f4f;
}

.fa {
    margin-top: .5rem;
}

/*_________________________________MAIN__________________________________*/
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 1rem;
    padding: 1rem 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    width: 100%;
    gap: 1rem;
}

.card {
    flex-direction: column;
    overflow: hidden;
    max-width: 10rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 10);
    background-color: #f2f2f2;
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    /* background-color: #ffaa00; */
}

.card-img img {
    width: 100%;
    object-fit: contain;
}

.card-text {
    padding: 0 1rem 1rem 1rem;
    text-align: left;
}

.card-text h4, p {
    color: #000;
}

/*_________________________________FOOTER________________________________*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    background-color: hsl(0, 0%, 9%);
}