* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff; 
}

body, html {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-behavior: smooth;
    height: 100%;
    min-width: 375px;
    background-color: #303030;
}

h1, h2, h3, h4, h5, h6 {
     margin: 0;
}

h4 {
    font-size: 19px;
}

p {
    font-size: 16px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    gap: 1rem;
}

a {
    text-decoration: none;
}

/*_________________________________NAVBAR_________________________________*/
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: hsl(0, 0%, 10%);
}

.brand-container h2 {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 26px;
}

#active {
    color: #d64f4f;
}

.nav-links {
    display: flex;
}

.nav-links-desktop {
    display: none;
}

.nav-links-desktop a {
    font-size: 24px;
}

/*_________________________________MAIN__________________________________*/
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 5rem 0 2rem 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    width: 100%;
    gap: 2rem;
}

.welcome-container {
    padding-bottom: 4rem;
}

.welcome-container h2 {
    font-size: 26px;
    font-weight: 600;
}

.card-link {
    border-radius: 1rem;
}

.card-link:hover {
    overflow: hidden;
    box-shadow: 0 0 5px 2px #39FF14;
}

.card {
    flex-direction: column;
    align-content: center;
    overflow: hidden;
    width: fit-content;
    border-radius: 1rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 10);
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23.6rem;
    height: 16.5rem;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .5rem 0 1rem 0;
}

.back-to-top {
    padding: 5rem 0 4rem 0;

}

.back-to-top a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 10);
}

.back-to-top a:hover {
    box-shadow: 0 0 5px 2px #39FF14;
}

.back-to-top a .bold {
    font-weight: 600;
}

/*_________________________________FOOTER________________________________*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    background-color: hsl(0, 0%, 9%);
}

footer i:hover {
    color: #d64f4f;
}

/*_________________________________MEDIA QUERY'S__________________________*/
@media (min-width: 540px) {
    
    .brand-container h2 {
        font-size: 36px;
    }
    
    .welcome-container h2 {
        font-size: 29px;
    }
    
    h4 {
        font-size: 22px;
    }
}

@media (min-width: 933px) {
    .nav-links {
        display: none;
    }

    .nav-links-desktop {
        display: flex;
    }

    header nav {
        flex-direction: column;
    }

    
    .brand-container h2 {
        font-size: 60px;
    }
    
    .welcome-container h2 {
        font-size: 35px;
    }

    h4 {
        font-size: 28px;
    }
}